.bam-results {
    display:flex;
    flex-direction: column;
}

/* ************************************************* */
/* select buttons (FIXME: this should be elsewhere since it could be used elsewere)*/

.bam-results .select-btn {
    box-sizing: border-box;
    padding: 0.4rem;
    width: 100%;
    background-color: var(--light);
    cursor: pointer;
}
.bam-results .select-btn:hover {
    background-color: var(--regular);
}
.bam-results .select-btn[selected] {
    background-color: var(--verystrong);
}


/* ************************************************* */
/* tabs */

/* .bam-tab {
    border-top: 1px solid var(--verystrong);
} */

/* parameter tab */
.bam-results-parameters{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: nowrap;

}
.bam-results-parameters .par-config{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0.4rem;
}
.bam-results-parameters .par-plots{
    padding: 0.4rem;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

.bam-results-parameters .par-name {
    font-weight: bold;
    text-align: center;
}
/* log tab */
.bam-results-log {
    padding: 0.4rem;
    cursor: text;
    /* max-height: 30rem; */
    /* overflow-y: auto; */
}
.bam-results-log .log-container {
    max-height: 30rem;
    overflow-y: auto;
    border: 1px solid var(--strong);
}
.bam-results-log .log-container > p {
    margin: 0;
    font-family: monospace;
    white-space: pre;
}
/* files/table tab */
/* see bamResultsFiles */