.bam-priors {
    padding-bottom: 0.4rem;
}

.bam-priors #header {
    padding: 0.8rem;
}

.bam-priors #columns {
    display: grid;
    grid-template-columns: 5em 10em 10em auto;
}
.bam-priors #columns > div{
    text-align: center;
    margin: 0.4rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid var(--strong);
}

