.bam-priors {
    padding-bottom: 0.4rem;
}

.bam-priors #header {
    padding: 0.8rem;
}

.bam-priors #columns {
    display: grid;
    grid-template-columns: 5em 10em 10em auto;
}
.bam-priors #columns > div{
    text-align: center;
    margin: 0.4rem;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid var(--strong);
}

/* *************************************************************** */
/* Styling for one prior parameter                                 */
/* *************************************************************** */

.bam-parameter {
    display: grid;
    grid-template-columns: 5em 10em 10em auto;
}

.bam-parameter #name {
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bam-parameter #name > span {
    text-align: center;
}


.bam-parameter #dist {
    margin: 0;
    padding: 0.4rem;
}

.bam-parameter #dist #dist-select {
    margin: 0;
    width: 100%;
}


.bam-parameter #dist-parameters {
    display: flex;
    
}
.bam-parameter #dist-parameters > input {
    flex-grow: 1;
    width: 100%;
}

