.bam-tabs .bam-tabs-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid var(--verystrong);
}

.bam-tabs .bam-tabs-buttons button {
    height: 100%;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0;
    border: none;
    border-right: 1px solid  var(--strong);
}

.bam-tabs .bam-tabs-buttons button[opened] {
    background-color: var(--verystrong);
}

.bam-tabs .bam-tabs-content {
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
}
/* .bam-tabs .bam-tabs-content .bam-tab {
    background-color: orchid;
} */
