
.bam-results {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
}
.bam-results #mcmc-line, 
.bam-results #mcmc-density {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    column-gap: 0.4rem;
    row-gap: 0.4rem; 
    align-items: start;
    padding: 0.4rem;
}
.bam-results #mcmc-density {
    border-top: 1px solid var(--strong);
}

.bam-results #mcmc-line #large,
.bam-results #mcmc-density #large{
    border-left: 1px solid var(--strong)
}


.bam-results #mcmc-line #small, 
.bam-results #mcmc-density #small{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

.bam-results #plot-header{
    text-align: center;
    font-weight: bold;
}


.bam-results #small > div{
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}

.bam-results #small > div:hover{
    
    border: 1px solid var(--strong);
    background-color: var(--verylight);
}
