
.bam-prediction-master .tab-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bam-prediction-master .tab-buttons button {
    height: 100%;
    margin: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0;
    border: none;
    border-right: 1px solid  var(--strong);
}

.bam-prediction-master .tab-buttons button[opened] {
    background-color: var(--verystrong);
}

.bam-prediction-master .tab-content {
    border-top: 1px solid  var(--verystrong);
}

.bam-prediction-master .ask-pred-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bam-prediction-master .ask-pred-name-wrapper .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bam-prediction-master .ask-pred-name-wrapper .input-message {
    color: var(--error);
    padding-bottom: 0.4rem;
}

.bam-prediction-master .pred-no-pred{
    padding: 0.8rem;
}
